services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: django
    ports:
      - "8000:8000"
    environment:
      DATABASE_HOST: mariadb
      DATABASE_PORT: 3306
      DATABASE_USERNAME: root
      DATABASE_PASSWORD: my-secret-pw
      DATABASE_NAME: mydatabase
    networks:
      - mariadb_network
    depends_on:
      mariadb:
        condition: service_healthy
    restart: always

  mariadb:
    image: mariadb:10.5
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: my-secret-pw
      MYSQL_DATABASE: mydatabase
    tty: true
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - mariadb_network
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-u", "root", "-pmy-secret-pw"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

networks:
  mariadb_network:
    driver: bridge

volumes:
  mariadb_data:
